@model OvaryVisWebApp.Models.OvaryVis
@{
    ViewData["Title"] = "Result Page";
}
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model =>model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobSubmitted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobSubmitted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.D1mm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.D1mm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.D2mm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.D2mm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.D3mm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.D3mm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusMsg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusMsg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResultVis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResultVis)
        </dd>
     </dl>
 </div>

<p>Press F4 to refresh this page and get an update about the progress of your submission and its result</p>




